SMAC-flow.json
[{"id":"9422ac86.75dbe8","type":"tab","label":"Sawyer","disabled":false,"info":"Sawyer stuur programma"},{"id":"e9065ccc.60efb8","type":"tab","label":"UR","disabled":true,"info":"Advanced UR/Node-red interaction\n\nWorking flow, however UR not receiveing all the messages"},{"id":"fcc56378.1a7c7","type":"tab","label":"UR","disabled":false,"info":"Basic Node-red + UR + Proceedix interaction and communication\n\nWorking code"},{"id":"f89170db.260728","type":"subflow","name":"Build send message","info":"","in":[{"x":600,"y":240,"wires":[{"id":"35e2b4b9.b49a2c"}]}],"out":[{"x":960,"y":240,"wires":[{"id":"35e2b4b9.b49a2c","port":0}]}]},{"id":"276c364a.389b4a","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Verdana,Verdana,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Verdana,Verdana,Geneva,sans-serif"}}},"site":{"name":"Innovate demo","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"caa5e39a.6acb78","type":"ui_tab","z":"","name":"Productconfigurator","icon":"Sensors"},{"id":"bc23edd7.b1cf1","type":"ui_group","z":"","name":"QR","tab":"caa5e39a.6acb78","order":4,"disp":false,"width":"6","collapse":false},{"id":"9b83ef51.d672c","type":"ui_group","z":"","name":"Light sensor","tab":"caa5e39a.6acb78","order":3,"disp":false,"width":"6","collapse":false},{"id":"52f9acb4.f23ac4","type":"ui_group","z":"","name":"Sound sensor","tab":"caa5e39a.6acb78","order":1,"disp":false,"width":"6","collapse":false},{"id":"1a2220b3.085d8f","type":"ui_group","z":"","name":"Temp sensor","tab":"caa5e39a.6acb78","order":2,"disp":false,"width":"6","collapse":false},{"id":"35e2b4b9.b49a2c","type":"template","z":"f89170db.260728","name":"Build send message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":",{{safe}}\n{{pull}}\n{{push}}\n{{sensor}};","output":"str","x":760,"y":240,"wires":[[]]},{"id":"86c24667.56653","type":"tcp out","z":"9422ac86.75dbe8","host":"172.16.0.101","port":"4002","beserver":"reply","base64":false,"end":false,"name":"","x":1360,"y":360,"wires":[]},{"id":"a27d6cc2.56475","type":"function","z":"9422ac86.75dbe8","name":"Check safe to move","func":"/* Check if Sawyer is ready and space to move tray to\n*/\n\nmsg.safe = 1;\nmsg.sensor = flow.get(\"sensor\")\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":420,"wires":[["83c20caf.f3dab","37e5fdb2.c84e4a"]]},{"id":"42cbffe2.7fac1","type":"comment","z":"9422ac86.75dbe8","name":"Pick sensor","info":"Choose which sensor to place \n\nIssue move tray command","x":130,"y":40,"wires":[]},{"id":"4c60d097.aadde8","type":"http in","z":"9422ac86.75dbe8","name":"Sawyer","url":"/sawyer","method":"get","upload":false,"swaggerDoc":"","x":530,"y":1620,"wires":[["d2335224.5293"]]},{"id":"754a955c.ba5bc4","type":"http response","z":"9422ac86.75dbe8","name":"","statusCode":"","headers":{},"x":810,"y":1620,"wires":[]},{"id":"d2335224.5293","type":"template","z":"9422ac86.75dbe8","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <img src=\"http://www.hanleyautomation.com/wp-content/uploads/2017/10/Sawyer-Short-Hero.png\" alt=\"Sawyer\" style=\"width:400px;\">\n    </body>\n</html>","output":"str","x":670,"y":1620,"wires":[["754a955c.ba5bc4"]]},{"id":"9c43070d.5ae098","type":"link in","z":"9422ac86.75dbe8","name":"","links":["19c2c247.1bfa6e","aa104389.a0b48"],"x":415,"y":1480,"wires":[["5e310f85.c88d7"]]},{"id":"73efacf4.cc137c","type":"change","z":"9422ac86.75dbe8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Missed pick. Operator assitance required.","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Missed pick","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":1480,"wires":[[]]},{"id":"ae5ae012.5b58d8","type":"switch","z":"9422ac86.75dbe8","name":"","property":"payload[0][1]","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":1480,"wires":[["73efacf4.cc137c"]]},{"id":"5e310f85.c88d7","type":"string","z":"9422ac86.75dbe8","name":"","methods":[{"name":"chompLeft","params":[{"type":"str","value":"\\n"}]},{"name":"parseCSV","params":[{"type":"str","value":""},{"type":"str","value":""},{"type":"str","value":""},{"type":"str","value":"\\n"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":510,"y":1480,"wires":[["ae5ae012.5b58d8","529ded37.5542c4"]]},{"id":"10ac1169.7522ff","type":"subflow:f89170db.260728","z":"9422ac86.75dbe8","x":1120,"y":380,"wires":[["6071e71c.5a03c","86c24667.56653"]]},{"id":"37e5fdb2.c84e4a","type":"change","z":"9422ac86.75dbe8","name":"","rules":[{"t":"set","p":"safe","pt":"msg","to":"safe","tot":"msg"},{"t":"set","p":"pull","pt":"msg","to":"0","tot":"str"},{"t":"set","p":"push","pt":"msg","to":"0","tot":"str"},{"t":"set","p":"sensor","pt":"msg","to":"sensor","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":420,"wires":[["10ac1169.7522ff","b213fe7a.41bf2"]]},{"id":"12f6f0d0.081807","type":"delay","z":"9422ac86.75dbe8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":820,"y":1540,"wires":[["2a937430.488b0c","aff64488.39d99"]]},{"id":"529ded37.5542c4","type":"switch","z":"9422ac86.75dbe8","name":"","property":"payload[0][2]","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":650,"y":1540,"wires":[["12f6f0d0.081807"]]},{"id":"2a937430.488b0c","type":"debug","z":"9422ac86.75dbe8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":1580,"wires":[]},{"id":"aff64488.39d99","type":"change","z":"9422ac86.75dbe8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sawyer not running","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Sawyer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":1540,"wires":[[]]},{"id":"ccc0dada.1188a8","type":"inject","z":"9422ac86.75dbe8","name":"","topic":"","payload":"[0,0,0]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":450,"y":1540,"wires":[["529ded37.5542c4"]]},{"id":"6071e71c.5a03c","type":"debug","z":"9422ac86.75dbe8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1330,"y":400,"wires":[]},{"id":"e2b49358.9898c8","type":"tcp in","z":"e9065ccc.60efb8","name":"Proceedix","server":"server","host":"","port":"4010","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":160,"y":380,"wires":[["1124a90b.9ed43f","98e251c8.dadf7"]]},{"id":"783d50a7.fd49","type":"template","z":"e9065ccc.60efb8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[{{start}}]","output":"str","x":1500,"y":280,"wires":[["a383c4b3.49cd9","17517dfc.a6be52"]]},{"id":"7c331ecb.1deea8","type":"change","z":"e9065ccc.60efb8","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":220,"wires":[["60154b62.8849dc","d6ee21c0.9ae348"]]},{"id":"3b45804f.fa20c","type":"function","z":"e9065ccc.60efb8","name":"Parse message","func":"msg.payload = parseInt(msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":200,"wires":[["8250e163.b4507"]]},{"id":"a383c4b3.49cd9","type":"debug","z":"e9065ccc.60efb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1670,"y":240,"wires":[]},{"id":"d61b5033.f86b5","type":"inject","z":"e9065ccc.60efb8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":340,"wires":[["1f030a32.da3a76"]]},{"id":"1f030a32.da3a76","type":"change","z":"e9065ccc.60efb8","name":"","rules":[{"t":"set","p":"start","pt":"msg","to":"30","tot":"str"},{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"position","pt":"flow","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":340,"wires":[["101ab2d9.3a7655","61ee70a2.95a58"]]},{"id":"101ab2d9.3a7655","type":"change","z":"e9065ccc.60efb8","name":"","rules":[{"t":"delete","p":"reset","pt":"msg"},{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"ip","pt":"msg"},{"t":"set","p":"position","pt":"msg","to":"position","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":360,"wires":[["d6ee21c0.9ae348"]]},{"id":"60154b62.8849dc","type":"change","z":"e9065ccc.60efb8","name":"","rules":[{"t":"delete","p":"reset","pt":"msg"},{"t":"delete","p":"payload","pt":"msg"},{"t":"set","p":"position","pt":"msg","to":"position","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":200,"wires":[["61ee70a2.95a58","6945840.4a6147c"]]},{"id":"344d401f.67eba8","type":"inject","z":"e9065ccc.60efb8","name":"","topic":"","payload":"100","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":160,"wires":[["3b45804f.fa20c"]]},{"id":"1124a90b.9ed43f","type":"function","z":"e9065ccc.60efb8","name":"Check Proceedix message","func":"if (msg.ip == \"::ffff:172.16.0.106\"){\n\n//if (msg.payload == \"POST / HTTP/1.1\\nContent-Type: text/plain; charset=utf-8\\nHost: 172.16.0.104:4010\\nContent-Length: 0\\nConnection: Keep-Alive\\n\\n\"){\n    msg.proceedix = 1\n} else {\n    msg.proceedix = 0\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":380,"wires":[["764a7b9c.b1130c"]]},{"id":"764a7b9c.b1130c","type":"switch","z":"e9065ccc.60efb8","name":"","property":"proceedix","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":380,"wires":[["600fe9e2.ccb59"]]},{"id":"2e3181d7.d6915e","type":"tcp out","z":"e9065ccc.60efb8","host":"172.16.0.104","port":"4011","beserver":"reply","base64":false,"end":false,"name":"","x":2260,"y":280,"wires":[]},{"id":"600fe9e2.ccb59","type":"function","z":"e9065ccc.60efb8","name":"Trigger","func":"msg = {}\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":380,"wires":[["1f030a32.da3a76"]]},{"id":"408c8c58.30b894","type":"ui_button","z":"9422ac86.75dbe8","name":"","group":"bc23edd7.b1cf1","order":2,"width":0,"height":0,"passthru":false,"label":"Bestellen","color":"","bgcolor":"","icon":"","payload":"{\"bestellen\" : true}","payloadType":"json","topic":"","x":140,"y":440,"wires":[["4f7f3a33.024f94"]]},{"id":"4f7f3a33.024f94","type":"function","z":"9422ac86.75dbe8","name":"","func":"if (flow.get(\"sensor\") !== 0){\n    msg.bestellen = 1\n} else {\n    msg.bestellen = 0\n}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":440,"wires":[["71ed7a00.6fdd68"]]},{"id":"71ed7a00.6fdd68","type":"switch","z":"9422ac86.75dbe8","name":"","property":"bestellen","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":460,"y":440,"wires":[["a27d6cc2.56475"],["580b7716.fa80d8"]]},{"id":"580b7716.fa80d8","type":"ui_toast","z":"9422ac86.75dbe8","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Kies eerst een sensor","name":"","x":630,"y":460,"wires":[["1277ab49.260075"]]},{"id":"903f5cbb.dee73","type":"inject","z":"9422ac86.75dbe8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":500,"wires":[["4f7f3a33.024f94"]]},{"id":"1277ab49.260075","type":"debug","z":"9422ac86.75dbe8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":480,"wires":[]},{"id":"83c20caf.f3dab","type":"ui_toast","z":"9422ac86.75dbe8","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Order geplaatst. Ga verder met de Sawyer","name":"","x":890,"y":380,"wires":[[]]},{"id":"b213fe7a.41bf2","type":"delay","z":"9422ac86.75dbe8","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1090,"y":460,"wires":[["7778f276.2e53ac"]]},{"id":"84f6a3b9.ce0fb","type":"tcp in","z":"9422ac86.75dbe8","name":"Sawyer TCP/IP","server":"client","host":"172.16.0.101","port":"4002","datamode":"stream","datatype":"utf8","newline":";","topic":"","base64":false,"x":160,"y":680,"wires":[["aa104389.a0b48","43cf41b3.68778"]]},{"id":"b8ec7dee.7657c","type":"comment","z":"9422ac86.75dbe8","name":"Check sawyer ready","info":"","x":170,"y":640,"wires":[]},{"id":"567104c5.7ed1dc","type":"function","z":"9422ac86.75dbe8","name":"Check Sawyer ready","func":"//signal = parseInt(msg.payload[0]);\n//msg.payload = { \"signal\": signal};\nif (msg.ready === 1){ \n    flow.set(\"ready\",1); //Sawyer is ready to move\n} else {\n    flow.set(\"ready\",0); // Sawyer is not ready to move\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":680,"wires":[["3fe8c749.d53c38"]]},{"id":"3fe8c749.d53c38","type":"rbe","z":"9422ac86.75dbe8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1050,"y":680,"wires":[[]]},{"id":"aa104389.a0b48","type":"link out","z":"9422ac86.75dbe8","name":"Sawyer TCP/IP","links":["9c43070d.5ae098","d710c051.b150a"],"x":295,"y":720,"wires":[]},{"id":"43cf41b3.68778","type":"string","z":"9422ac86.75dbe8","name":"","methods":[{"name":"chompLeft","params":[{"type":"str","value":"\\n"}]},{"name":"parseCSV","params":[{"type":"str","value":""},{"type":"str","value":""},{"type":"str","value":""},{"type":"str","value":"\\n"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":330,"y":680,"wires":[["e2a55e6f.b57cc","56fd2ed7.1f6e7","1831f6ff.663e89","855ac0d9.0a2cb","17b2051a.e7d2eb","3cc3f164.e818fe"]]},{"id":"e2a55e6f.b57cc","type":"switch","z":"9422ac86.75dbe8","name":"","property":"payload[0][0]","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":680,"wires":[["de29af7d.53ba"],["e41a8fb0.2ea2a"]]},{"id":"de29af7d.53ba","type":"change","z":"9422ac86.75dbe8","name":"","rules":[{"t":"set","p":"ready","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":660,"wires":[["567104c5.7ed1dc"]]},{"id":"e41a8fb0.2ea2a","type":"change","z":"9422ac86.75dbe8","name":"","rules":[{"t":"set","p":"ready","pt":"msg","to":"0","tot":"num"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":700,"wires":[["567104c5.7ed1dc"]]},{"id":"62a76540.f2172c","type":"inject","z":"9422ac86.75dbe8","name":"Pick sensor 1","topic":"","payload":"sensor","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":200,"wires":[["aaa73c35.a9bed"]]},{"id":"725cf8e2.a5abb8","type":"inject","z":"9422ac86.75dbe8","name":"Pick sensor 2","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":280,"wires":[["9e087855.4eb198"]]},{"id":"8f0f4500.aad358","type":"inject","z":"9422ac86.75dbe8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":100,"wires":[["d323d6e1.61b228"]]},{"id":"d323d6e1.61b228","type":"change","z":"9422ac86.75dbe8","name":"","rules":[{"t":"set","p":"sensor","pt":"flow","to":"0","tot":"num"},{"t":"set","p":"sensor","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":100,"wires":[["491f8f7e.54e63","95e71327.9d4a3"]]},{"id":"aaa73c35.a9bed","type":"change","z":"9422ac86.75dbe8","name":"","rules":[{"t":"set","p":"sensor","pt":"flow","to":"1","tot":"num"},{"t":"set","p":"sensor","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":160,"wires":[["95e71327.9d4a3"]]},{"id":"9e087855.4eb198","type":"change","z":"9422ac86.75dbe8","name":"","rules":[{"t":"set","p":"sensor","pt":"flow","to":"2","tot":"num"},{"t":"set","p":"sensor","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":240,"wires":[["95e71327.9d4a3"]]},{"id":"50117753.960c78","type":"ui_button","z":"9422ac86.75dbe8","name":"","group":"52f9acb4.f23ac4","order":2,"width":0,"height":0,"passthru":false,"label":"Geluidsensor","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":150,"y":160,"wires":[["aaa73c35.a9bed"]]},{"id":"9eee77e5.701488","type":"ui_button","z":"9422ac86.75dbe8","name":"","group":"1a2220b3.085d8f","order":2,"width":0,"height":0,"passthru":false,"label":"Temperatuursensor","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":240,"wires":[["9e087855.4eb198"]]},{"id":"32c65bb6.3f7364","type":"ui_button","z":"9422ac86.75dbe8","name":"","group":"9b83ef51.d672c","order":2,"width":0,"height":0,"passthru":false,"label":"Lichtsensor","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":320,"wires":[["87a22426.bb8f68"]]},{"id":"87a22426.bb8f68","type":"change","z":"9422ac86.75dbe8","name":"","rules":[{"t":"set","p":"sensor","pt":"flow","to":"3","tot":"str"},{"t":"set","p":"sensor","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":320,"wires":[["95e71327.9d4a3"]]},{"id":"fd6b3fb7.4cdbc","type":"inject","z":"9422ac86.75dbe8","name":"Pick sensor 3","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":360,"wires":[["87a22426.bb8f68"]]},{"id":"7778f276.2e53ac","type":"change","z":"9422ac86.75dbe8","name":"","rules":[{"t":"set","p":"sensor","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":460,"wires":[[]]},{"id":"cd17bd64.c101b","type":"tcp in","z":"e9065ccc.60efb8","name":"UR","server":"server","host":"","port":"4011","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":150,"y":200,"wires":[["3b45804f.fa20c","889a7dbd.6ccf4"]]},{"id":"56fd2ed7.1f6e7","type":"switch","z":"9422ac86.75dbe8","name":"","property":"payload[0][1]","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":780,"wires":[["77d7cfcc.040e4"]]},{"id":"77d7cfcc.040e4","type":"change","z":"9422ac86.75dbe8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Missed pick","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":780,"wires":[["cce41fcc.da85a"]]},{"id":"cce41fcc.da85a","type":"ui_toast","z":"9422ac86.75dbe8","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":890,"y":860,"wires":[[]],"icon":"node-red/alert.png"},{"id":"8ce2ffd0.cbc36","type":"change","z":"9422ac86.75dbe8","name":"Check housing","rules":[{"t":"set","p":"payload","pt":"msg","to":"Behuizing ligt niet goed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":900,"wires":[["cce41fcc.da85a"]]},{"id":"1831f6ff.663e89","type":"switch","z":"9422ac86.75dbe8","name":"","property":"payload[0][4]","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":900,"wires":[["8ce2ffd0.cbc36"]]},{"id":"c24c82a7.3a21","type":"change","z":"9422ac86.75dbe8","name":"Finished","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sawyer finished","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":940,"wires":[["acef2eb3.8552b"]]},{"id":"855ac0d9.0a2cb","type":"switch","z":"9422ac86.75dbe8","name":"","property":"payload[0][5]","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":940,"wires":[["c24c82a7.3a21"]]},{"id":"d467d747.48c9e8","type":"debug","z":"e9065ccc.60efb8","name":"UR","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":120,"wires":[]},{"id":"8250e163.b4507","type":"switch","z":"e9065ccc.60efb8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"5","vt":"num"},{"t":"eq","v":"5","vt":"num"},{"t":"eq","v":"100","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":510,"y":200,"wires":[["c2526c2c.2591f"],["f37e4d60.1a0d9"],["4b493068.048f7"]]},{"id":"f37e4d60.1a0d9","type":"change","z":"e9065ccc.60efb8","name":"","rules":[{"t":"set","p":"position","pt":"flow","to":"5","tot":"num"},{"t":"set","p":"position","pt":"msg","to":"5","tot":"num"},{"t":"set","p":"start","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":200,"wires":[["7c331ecb.1deea8","4d131758.3e98d8"]]},{"id":"4b493068.048f7","type":"change","z":"e9065ccc.60efb8","name":"","rules":[{"t":"set","p":"start","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"position","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":240,"wires":[["7c331ecb.1deea8","4d131758.3e98d8"]]},{"id":"c2526c2c.2591f","type":"change","z":"e9065ccc.60efb8","name":"","rules":[{"t":"set","p":"position","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"position","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"start","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":160,"wires":[["7c331ecb.1deea8","4d131758.3e98d8"]]},{"id":"4d131758.3e98d8","type":"function","z":"e9065ccc.60efb8","name":"Set position variable","func":"flow.set(\"position\",msg.position)\nmsg.payload = flow.get(\"position\")\nreturn msg","outputs":1,"noerr":0,"x":920,"y":160,"wires":[[]]},{"id":"f1a893c4.9fe3a","type":"debug","z":"e9065ccc.60efb8","name":"Proceedix","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":500,"y":420,"wires":[]},{"id":"d6ee21c0.9ae348","type":"trigger","z":"e9065ccc.60efb8","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-10","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":1310,"y":340,"wires":[["783d50a7.fd49"]]},{"id":"61ee70a2.95a58","type":"trigger","z":"e9065ccc.60efb8","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-10","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":1310,"y":220,"wires":[["783d50a7.fd49"]]},{"id":"a0c9a675.63bb88","type":"debug","z":"e9065ccc.60efb8","name":"Output","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":2390,"y":240,"wires":[]},{"id":"e99aaa54.e3f388","type":"trigger","z":"e9065ccc.60efb8","op1":"","op2":"","op1type":"pay","op2type":"payl","duration":"-1","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":2030,"y":280,"wires":[["2e3181d7.d6915e","f9d45775.0624b8"]]},{"id":"947c2913.ead8c8","type":"delay","z":"e9065ccc.60efb8","name":"","pauseType":"rate","timeout":"0.5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1820,"y":280,"wires":[["e99aaa54.e3f388","98c4b74.f954b48"]]},{"id":"17517dfc.a6be52","type":"rbe","z":"e9065ccc.60efb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1650,"y":280,"wires":[["947c2913.ead8c8"]]},{"id":"98c4b74.f954b48","type":"debug","z":"e9065ccc.60efb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2010,"y":240,"wires":[]},{"id":"889a7dbd.6ccf4","type":"delay","z":"e9065ccc.60efb8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":120,"wires":[["d467d747.48c9e8"]]},{"id":"98e251c8.dadf7","type":"delay","z":"e9065ccc.60efb8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":420,"wires":[["f1a893c4.9fe3a"]]},{"id":"ecf6f9f6.bcaf18","type":"rbe","z":"e9065ccc.60efb8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1140,"y":680,"wires":[[]]},{"id":"f9d45775.0624b8","type":"delay","z":"e9065ccc.60efb8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2230,"y":240,"wires":[["a0c9a675.63bb88"]]},{"id":"6945840.4a6147c","type":"debug","z":"e9065ccc.60efb8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1270,"y":160,"wires":[]},{"id":"e1467311.3be65","type":"tcp in","z":"fcc56378.1a7c7","name":"","server":"server","host":"","port":"4010","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":140,"y":360,"wires":[["ae2766a.12c6198"]]},{"id":"851f1761.df2228","type":"template","z":"fcc56378.1a7c7","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"[{{start}}]","output":"str","x":1420,"y":260,"wires":[["d6bd5447.439368","aafda84d.668018","10096797.6f8908"]]},{"id":"27da0cef.eb5644","type":"trigger","z":"fcc56378.1a7c7","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":1220,"y":220,"wires":[["851f1761.df2228"]]},{"id":"4a13e29c.e3730c","type":"change","z":"fcc56378.1a7c7","name":"","rules":[{"t":"set","p":"start","pt":"msg","to":"0","tot":"str"},{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":220,"wires":[["896c471b.e99d98","ea04101d.255a9"]]},{"id":"184853eb.3b469c","type":"function","z":"fcc56378.1a7c7","name":"","func":"msg.payload = parseInt(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":220,"wires":[["4a13e29c.e3730c"]]},{"id":"10096797.6f8908","type":"debug","z":"fcc56378.1a7c7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1590,"y":200,"wires":[]},{"id":"33222f84.d4d4f","type":"inject","z":"fcc56378.1a7c7","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":300,"wires":[["b80ffffb.067c"]]},{"id":"b80ffffb.067c","type":"change","z":"fcc56378.1a7c7","name":"","rules":[{"t":"set","p":"start","pt":"msg","to":"3","tot":"str"},{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":300,"wires":[["27da0cef.eb5644","35160df.95695f2"]]},{"id":"ea04101d.255a9","type":"trigger","z":"fcc56378.1a7c7","op1":"","op2":"0","op1type":"pay","op2type":"str","duration":"-250","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":1220,"y":300,"wires":[["851f1761.df2228"]]},{"id":"35160df.95695f2","type":"change","z":"fcc56378.1a7c7","name":"","rules":[{"t":"delete","p":"reset","pt":"msg"},{"t":"delete","p":"payload","pt":"msg"},{"t":"delete","p":"ip","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":320,"wires":[["ea04101d.255a9"]]},{"id":"896c471b.e99d98","type":"change","z":"fcc56378.1a7c7","name":"","rules":[{"t":"delete","p":"reset","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":200,"wires":[["27da0cef.eb5644"]]},{"id":"e1e530c4.fd15c","type":"inject","z":"fcc56378.1a7c7","name":"","topic":"","payload":"100","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":160,"wires":[["184853eb.3b469c"]]},{"id":"ae2766a.12c6198","type":"function","z":"fcc56378.1a7c7","name":"","func":"if (msg.ip == \"::ffff:172.16.0.106\"){\n\n//if (msg.payload == \"POST / HTTP/1.1\\nContent-Type: text/plain; charset=utf-8\\nHost: 172.16.0.104:4010\\nContent-Length: 0\\nConnection: Keep-Alive\\n\\n\"){\n    msg.proceedix = 1\n} else {\n    msg.proceedix = 0\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":360,"wires":[["ff3c9fdc.12228"]]},{"id":"ff3c9fdc.12228","type":"switch","z":"fcc56378.1a7c7","name":"","property":"proceedix","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":360,"wires":[["136a0b60.7a1b75"]]},{"id":"f7aeedfe.1df75","type":"debug","z":"fcc56378.1a7c7","name":"Test","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1710,"y":320,"wires":[]},{"id":"d6bd5447.439368","type":"rbe","z":"fcc56378.1a7c7","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1570,"y":320,"wires":[["f7aeedfe.1df75"]]},{"id":"aafda84d.668018","type":"tcp out","z":"fcc56378.1a7c7","host":"172.16.0.104","port":"4011","beserver":"reply","base64":false,"end":false,"name":"","x":1620,"y":260,"wires":[]},{"id":"46ae5cd5.a7eae4","type":"tcp in","z":"fcc56378.1a7c7","name":"","server":"server","host":"","port":"4011","datamode":"stream","datatype":"utf8","newline":"","topic":"","base64":false,"x":120,"y":220,"wires":[["184853eb.3b469c","5e0a928.d516c6c"]]},{"id":"5e0a928.d516c6c","type":"debug","z":"fcc56378.1a7c7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":330,"y":140,"wires":[]},{"id":"136a0b60.7a1b75","type":"function","z":"fcc56378.1a7c7","name":"","func":"msg = {}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":360,"wires":[["b80ffffb.067c"]]},{"id":"95e71327.9d4a3","type":"ui_template","z":"9422ac86.75dbe8","group":"bc23edd7.b1cf1","name":"Image","order":1,"width":"6","height":"6","format":"<div class=\"sensor_image\">\n<img width=\"288\" src=\"/images/sensor{{msg.sensor}}.png\" alt=\"QR code\">\n{{msg.choice}}\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":690,"y":240,"wires":[["eb8b0d83.ec4d8"]]},{"id":"eb8b0d83.ec4d8","type":"debug","z":"9422ac86.75dbe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":240,"wires":[]},{"id":"491f8f7e.54e63","type":"ui_template","z":"9422ac86.75dbe8","group":"bc23edd7.b1cf1","name":"CSS","order":3,"width":0,"height":0,"format":"<style>\n    \n      body { \n  background: url(/images/background.jpg) no-repeat center center fixed; \n  -webkit-background-size: cover;\n  -moz-background-size: cover;\n  -o-background-size: cover;\n  background-size: cover;\n  \n}\n\n.content {\n    max-width: 500px;\n    margin: auto;\n}\n\n.masonry-container{\n margin: auto;\n width: 1500px;\n    height: 100px;\n    position: absolute;\n    top:0;\n    bottom: 0;\n    left: 0;\n    right: 0;\n\n    margin: auto;\n}\n\n.sensor_image{\n    margin: auto;\n    vertical-align:middle;\n}\n\n.md-button{\n    font-size: 25px;\n}\n\n</style>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":610,"y":100,"wires":[[]]},{"id":"5cec7234.a13c5c","type":"ui_template","z":"9422ac86.75dbe8","group":"9b83ef51.d672c","name":"Light sensor image","order":1,"width":"6","height":"6","format":"<div class=\"sensor_image\">\n<img width=\"288\" src=\"/images/light_sensor.png\" alt=\"QR code\">\n{{msg.choice}}\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":650,"y":320,"wires":[[]]},{"id":"ff385900.1ec378","type":"ui_template","z":"9422ac86.75dbe8","group":"52f9acb4.f23ac4","name":"Sound sensor image","order":1,"width":"6","height":"6","format":"\n<div class=\"sensor_image\">\n<img width=\"288\" src=\"/images/sound_sensor.png\" alt=\"QR code\">\n{{msg.choice}}\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":660,"y":160,"wires":[[]]},{"id":"2b5bf093.1b754","type":"ui_template","z":"9422ac86.75dbe8","group":"1a2220b3.085d8f","name":"Temp sensor image","order":1,"width":"6","height":"6","format":"<div class=\"sensor_image\">\n<img width=\"288\" src=\"/images/temp_sensor.png\" alt=\"QR code\">\n{{msg.choice}}\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":870,"y":160,"wires":[[]]},{"id":"acef2eb3.8552b","type":"ui_toast","z":"9422ac86.75dbe8","position":"top right","displayTime":"10","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":820,"y":940,"wires":[]},{"id":"4784d4ab.62b22c","type":"change","z":"9422ac86.75dbe8","name":"Check base plate","rules":[{"t":"set","p":"payload","pt":"msg","to":"Bodemplaat ligt niet goed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":860,"wires":[["cce41fcc.da85a"]]},{"id":"17b2051a.e7d2eb","type":"switch","z":"9422ac86.75dbe8","name":"","property":"payload[0][3]","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":860,"wires":[["4784d4ab.62b22c"]]},{"id":"3cc3f164.e818fe","type":"switch","z":"9422ac86.75dbe8","name":"","property":"payload[0][2]","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":470,"y":820,"wires":[["2a76151e.696eba"]]},{"id":"2a76151e.696eba","type":"change","z":"9422ac86.75dbe8","name":"","rules":[{"t":"set","p":"sensor","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":820,"wires":[["95e71327.9d4a3"]]}]