SMAC-flow.json
[{"id":"9422ac86.75dbe8","type":"tab","label":"Sawyer","disabled":false,"info":"Sawyer stuur programma"},{"id":"f89170db.260728","type":"subflow","name":"Build send message","info":"","in":[{"x":600,"y":240,"wires":[{"id":"35e2b4b9.b49a2c"}]}],"out":[{"x":960,"y":240,"wires":[{"id":"35e2b4b9.b49a2c","port":0}]}]},{"id":"aad49f3.09194e","type":"mui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"m-base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"m-page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"m-page-backgroundColor":{"value":"#fafafa","edited":false},"m-page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"m-group-textColor":{"value":"#1bbfff","edited":false},"m-group-borderColor":{"value":"#ffffff","edited":false},"m-group-backgroundColor":{"value":"#ffffff","edited":false},"m-widget-textColor":{"value":"#111111","edited":false},"m-widget-backgroundColor":{"value":"#0094ce","edited":false},"m-widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ed479c59.31db9","type":"ui_group","z":"9422ac86.75dbe8","name":"Choose a sensor","tab":"a3162210.e5e02","disp":true,"width":"6","collapse":false},{"id":"331bb860.c10088","type":"ui_group","z":"9422ac86.75dbe8","name":"Status","tab":"a3162210.e5e02","disp":true,"width":"6","collapse":false},{"id":"93bbc396.b56a38","type":"ui_tab","z":"9422ac86.75dbe8","name":"Sawyer Order","icon":"fa-fire","order":5},{"id":"35e2b4b9.b49a2c","type":"template","z":"f89170db.260728","name":"Build send message","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":",{{safe}}\n{{pull}}\n{{push}}\n{{sensor}};","output":"str","x":760,"y":240,"wires":[[]]},{"id":"291afabe.7dd34e","type":"link in","z":"9422ac86.75dbe8","name":"Input RFID 107CH2","links":["f22027f5.ffb348"],"x":215,"y":120,"wires":[["cbc9d973.32c82"]]},{"id":"6757e518.ccc24c","type":"tcp in","z":"9422ac86.75dbe8","name":"Sawyer TCP/IP","server":"client","host":"172.16.0.101","port":"4002","datamode":"stream","datatype":"utf8","newline":";","topic":"","base64":false,"x":160,"y":260,"wires":[["19c2c247.1bfa6e","845327b.2f02e58","eab033e2.d9023"]]},{"id":"a100b9f1.5afde8","type":"switch","z":"9422ac86.75dbe8","name":"Route message","property":"safe","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":400,"wires":[["4eb7b079.912ef"],["da7ee5ab.22ed5"]],"inputLabels":["Input"],"outputLabels":["Safe","Not safe"]},{"id":"add4cba8.4f1f08","type":"function","z":"9422ac86.75dbe8","name":"Check safe to move","func":"/* Check if Sawyer is ready and space to move tray to\n*/\n\n//  Tray on A2                  Tray on B1                  Sawyer ready\nif (flow.get(\"trayA2\") === 1 && flow.get(\"trayB1\") === 0 && flow.get(\"ready\") === 1) { \n    msg.safe = 1;\n} else {\n    msg.pull = 0;\n    msg.safe = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":400,"wires":[["a100b9f1.5afde8"]]},{"id":"c499a703.13ffb","type":"comment","z":"9422ac86.75dbe8","name":"Check sawyer ready","info":"","x":170,"y":220,"wires":[]},{"id":"cbc9d973.32c82","type":"function","z":"9422ac86.75dbe8","name":"Check tray present B1","func":"// Check if tray present on B1\nif (msg.payload !== 0) {\n    flow.set(\"trayB1\",1) ; // Tray present\n} else {\n    flow.set(\"trayB1\",0) ; // Tray not present\n}\n\nmsg.payload = {\"tray\":flow.get(\"trayB1\")};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":120,"wires":[[]]},{"id":"86c24667.56653","type":"tcp out","z":"9422ac86.75dbe8","host":"172.16.0.101","port":"4002","beserver":"reply","base64":false,"end":false,"name":"","x":1620,"y":540,"wires":[]},{"id":"110f155a.1e9d13","type":"inject","z":"9422ac86.75dbe8","name":"Pull tray","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":110,"y":400,"wires":[["5d52a3dd.375c44"]]},{"id":"3ce3f788.fea8b8","type":"link in","z":"9422ac86.75dbe8","name":"Input RFID 107CH1","links":["16613b9d.373874"],"x":215,"y":80,"wires":[["f9f0f277.58332"]]},{"id":"f9f0f277.58332","type":"function","z":"9422ac86.75dbe8","name":"Check tray present A2","func":"// Check if tray present on A2\nif (msg.payload !== 0) {\n    flow.set(\"trayA2\",1) ; // Tray present\n} else {\n    flow.set(\"trayA2\",0) ; // Tray not present\n}\n\nmsg.payload = {\"tray\":flow.get(\"trayA2\")};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":80,"wires":[[]]},{"id":"fff2f9bb.b02ca","type":"link in","z":"9422ac86.75dbe8","name":"Input RFID 107CH3","links":["17aba83c.3cbea8"],"x":215,"y":160,"wires":[["cd61d360.926d88"]]},{"id":"cd61d360.926d88","type":"function","z":"9422ac86.75dbe8","name":"Check tray present B2","func":"// Check if tray present on B2\nif (msg.payload !== 0) {\n    flow.set(\"trayB2\",1) ; // Tray present\n} else {\n    flow.set(\"trayB2\",0) ; // Tray not present\n}\n\nmsg.payload = {\"tray\":flow.get(\"trayB2\")};\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":160,"wires":[[]]},{"id":"173db379.f9d0fd","type":"switch","z":"9422ac86.75dbe8","name":"Route message","property":"safe","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":560,"wires":[["7dd75ecf.574fd"],["da7ee5ab.22ed5"]],"inputLabels":["Input"],"outputLabels":["Safe","Not safe"]},{"id":"d9431f8f.b8b9c8","type":"function","z":"9422ac86.75dbe8","name":"Check safe to move","func":"/* Check if Sawyer is ready and space to move tray to\n*/\n\n//  Tray on B1                  Tray on B2                  Sawyer ready\nif (flow.get(\"trayB1\") === 1 && flow.get(\"trayB2\") === 0 && flow.get(\"ready\") === 1) {\n    msg.safe = 1;\n} else {\n    msg.safe = 0;\n    msg.push = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":560,"wires":[["173db379.f9d0fd"]]},{"id":"536267.e1330d98","type":"inject","z":"9422ac86.75dbe8","name":"Push tray","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":120,"y":560,"wires":[["b4faebbf.18f968"]]},{"id":"5d0f8fbe.0686a8","type":"comment","z":"9422ac86.75dbe8","name":"Push tray","info":"Check for safe move conditions, to move tray from\nB1 to B2\n\nIssue move tray command","x":120,"y":501,"wires":[]},{"id":"71158139.8de9e8","type":"function","z":"9422ac86.75dbe8","name":"Check Sawyer ready","func":"//signal = parseInt(msg.payload[0]);\n//msg.payload = { \"signal\": signal};\nif (msg.ready === 1){ \n    flow.set(\"ready\",1); //Sawyer is ready to move\n} else {\n    flow.set(\"ready\",0); // Sawyer is not ready to move\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":260,"wires":[["fca27c78.ac692"]]},{"id":"36529dd7.9c09b2","type":"switch","z":"9422ac86.75dbe8","name":"Route message","property":"safe","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":920,"y":800,"wires":[["37e5fdb2.c84e4a"],["da7ee5ab.22ed5"]],"inputLabels":["Input"],"outputLabels":["Safe","Not safe"]},{"id":"a27d6cc2.56475","type":"function","z":"9422ac86.75dbe8","name":"Check safe to move","func":"/* Check if Sawyer is ready and space to move tray to\n*/\n\n//  Tray on B1               Sawyer ready\nif (flow.get(\"trayB1\") === 1 && flow.get(\"ready\") === 1) {\n    msg.safe = 1;\n} else {\n    msg.safe = 0;\n    msg.sensor = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":800,"wires":[["36529dd7.9c09b2"]]},{"id":"4513f549.aa10b4","type":"inject","z":"9422ac86.75dbe8","name":"Pick sensor 1","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":821,"wires":[["3b84a364.800ea4"]]},{"id":"42cbffe2.7fac1","type":"comment","z":"9422ac86.75dbe8","name":"Pick sensor","info":"Choose which sensor to place \n\nIssue move tray command","x":130,"y":701,"wires":[]},{"id":"e2d578d9.d23df","type":"inject","z":"9422ac86.75dbe8","name":"Pick sensor 2","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":150,"y":921,"wires":[["c96767cc.ba568"]]},{"id":"4c60d097.aadde8","type":"http in","z":"9422ac86.75dbe8","name":"Sawyer","url":"/sawyer","method":"get","upload":false,"swaggerDoc":"","x":250,"y":1200,"wires":[["d2335224.5293"]]},{"id":"754a955c.ba5bc4","type":"http response","z":"9422ac86.75dbe8","name":"","statusCode":"","headers":{},"x":530,"y":1200,"wires":[]},{"id":"d2335224.5293","type":"template","z":"9422ac86.75dbe8","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <img src=\"http://www.hanleyautomation.com/wp-content/uploads/2017/10/Sawyer-Short-Hero.png\" alt=\"Sawyer\" style=\"width:400px;\">\n    </body>\n</html>","output":"str","x":390,"y":1200,"wires":[["754a955c.ba5bc4"]]},{"id":"2dc0f088.1f2378","type":"inject","z":"9422ac86.75dbe8","name":"Init value","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":320,"y":440,"wires":[["4581ccac.6da614"]]},{"id":"68289fa5.bd8548","type":"inject","z":"9422ac86.75dbe8","name":"Init value","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":320,"y":600,"wires":[["14abccb3.31691b"]]},{"id":"74bfd050.98c238","type":"inject","z":"9422ac86.75dbe8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":741,"wires":[["d2ffe73b.187cc8"]]},{"id":"5d52a3dd.375c44","type":"rbe","z":"9422ac86.75dbe8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":270,"y":400,"wires":[["4fdfb0a5.6a87f8"]]},{"id":"189148f.a3886b7","type":"comment","z":"9422ac86.75dbe8","name":"Pull tray","info":"","x":130,"y":340,"wires":[]},{"id":"b4faebbf.18f968","type":"rbe","z":"9422ac86.75dbe8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":270,"y":560,"wires":[["256b4520.f34a22"]]},{"id":"ebb34b5d.434988","type":"ui_button","z":"9422ac86.75dbe8","name":"Start","group":"72402cb8.4df824","order":0,"width":0,"height":0,"passthru":false,"label":"Start","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":130,"y":440,"wires":[["5d52a3dd.375c44"]]},{"id":"55834173.885ad","type":"ui_button","z":"9422ac86.75dbe8","name":"Finish","group":"72402cb8.4df824","order":0,"width":0,"height":0,"passthru":false,"label":"Finish","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":130,"y":600,"wires":[["b4faebbf.18f968"]]},{"id":"fca27c78.ac692","type":"rbe","z":"9422ac86.75dbe8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1050,"y":260,"wires":[[]]},{"id":"f347d0a3.88b1e8","type":"ui_toast","z":"9422ac86.75dbe8","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Error","name":"","x":1330,"y":640,"wires":[[]]},{"id":"da7ee5ab.22ed5","type":"change","z":"9422ac86.75dbe8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Kan handeling niet uitvoeren","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":640,"wires":[["f347d0a3.88b1e8","345b8b14.a1e9a4"]]},{"id":"19c2c247.1bfa6e","type":"link out","z":"9422ac86.75dbe8","name":"Sawyer TCP/IP","links":["9c43070d.5ae098"],"x":295,"y":300,"wires":[]},{"id":"9c43070d.5ae098","type":"link in","z":"9422ac86.75dbe8","name":"","links":["19c2c247.1bfa6e"],"x":135,"y":1060,"wires":[["5e310f85.c88d7"]]},{"id":"485e2307.78cbe4","type":"ui_toast","z":"9422ac86.75dbe8","position":"dialog","displayTime":"3","highlight":"red","outputs":1,"ok":"OK","cancel":"","topic":"","name":"","x":730,"y":1040,"wires":[[]]},{"id":"73efacf4.cc137c","type":"change","z":"9422ac86.75dbe8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Missed pick. Operator assitance required.","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Missed pick","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1060,"wires":[[]]},{"id":"ae5ae012.5b58d8","type":"switch","z":"9422ac86.75dbe8","name":"","property":"payload[0][1]","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1060,"wires":[["73efacf4.cc137c"]]},{"id":"5e310f85.c88d7","type":"string","z":"9422ac86.75dbe8","name":"","methods":[{"name":"chompLeft","params":[{"type":"str","value":"\\n"}]},{"name":"parseCSV","params":[{"type":"str","value":""},{"type":"str","value":""},{"type":"str","value":""},{"type":"str","value":"\\n"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":230,"y":1060,"wires":[["ae5ae012.5b58d8","529ded37.5542c4"]]},{"id":"a581c4b6.3ed4f8","type":"ui_audio","z":"9422ac86.75dbe8","name":"","group":"96040400.0f7ed","voice":"nl-NL","always":"","x":720,"y":1080,"wires":[]},{"id":"845327b.2f02e58","type":"string","z":"9422ac86.75dbe8","name":"","methods":[{"name":"chompLeft","params":[{"type":"str","value":"\\n"}]},{"name":"parseCSV","params":[{"type":"str","value":""},{"type":"str","value":""},{"type":"str","value":""},{"type":"str","value":"\\n"}]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":330,"y":260,"wires":[["f70c00bc.33438"]]},{"id":"f70c00bc.33438","type":"switch","z":"9422ac86.75dbe8","name":"","property":"payload[0][0]","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":260,"wires":[["adf8f754.19453"],["5920da8c.3b065c"]]},{"id":"adf8f754.19453","type":"change","z":"9422ac86.75dbe8","name":"","rules":[{"t":"set","p":"ready","pt":"msg","to":"1","tot":"num"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":240,"wires":[["71158139.8de9e8"]]},{"id":"5920da8c.3b065c","type":"change","z":"9422ac86.75dbe8","name":"","rules":[{"t":"set","p":"ready","pt":"msg","to":"0","tot":"num"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":280,"wires":[["71158139.8de9e8"]]},{"id":"4eb7b079.912ef","type":"change","z":"9422ac86.75dbe8","name":"","rules":[{"t":"set","p":"safe","pt":"msg","to":"safe","tot":"msg"},{"t":"set","p":"pull","pt":"msg","to":"pull","tot":"msg"},{"t":"set","p":"push","pt":"msg","to":"0","tot":"str"},{"t":"set","p":"sensor","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":380,"wires":[["10ac1169.7522ff"]]},{"id":"4fdfb0a5.6a87f8","type":"change","z":"9422ac86.75dbe8","name":"","rules":[{"t":"set","p":"pull","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":400,"wires":[["add4cba8.4f1f08"]]},{"id":"4581ccac.6da614","type":"change","z":"9422ac86.75dbe8","name":"","rules":[{"t":"set","p":"pull","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":440,"wires":[["add4cba8.4f1f08"]]},{"id":"256b4520.f34a22","type":"change","z":"9422ac86.75dbe8","name":"","rules":[{"t":"set","p":"push","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":560,"wires":[["d9431f8f.b8b9c8"]]},{"id":"14abccb3.31691b","type":"change","z":"9422ac86.75dbe8","name":"","rules":[{"t":"set","p":"push","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":600,"wires":[["d9431f8f.b8b9c8"]]},{"id":"7dd75ecf.574fd","type":"change","z":"9422ac86.75dbe8","name":"","rules":[{"t":"set","p":"safe","pt":"msg","to":"safe","tot":"msg"},{"t":"set","p":"pull","pt":"msg","to":"0","tot":"str"},{"t":"set","p":"push","pt":"msg","to":"push","tot":"msg"},{"t":"set","p":"sensor","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":540,"wires":[["10ac1169.7522ff"]]},{"id":"10ac1169.7522ff","type":"subflow:f89170db.260728","z":"9422ac86.75dbe8","x":1360,"y":540,"wires":[["6071e71c.5a03c","86c24667.56653"]]},{"id":"37e5fdb2.c84e4a","type":"change","z":"9422ac86.75dbe8","name":"","rules":[{"t":"set","p":"safe","pt":"msg","to":"safe","tot":"msg"},{"t":"set","p":"pull","pt":"msg","to":"0","tot":"str"},{"t":"set","p":"push","pt":"msg","to":"0","tot":"str"},{"t":"set","p":"sensor","pt":"msg","to":"sensor","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":780,"wires":[["10ac1169.7522ff"]]},{"id":"d2ffe73b.187cc8","type":"change","z":"9422ac86.75dbe8","name":"","rules":[{"t":"set","p":"sensor","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":740,"wires":[["a27d6cc2.56475"]]},{"id":"3b84a364.800ea4","type":"change","z":"9422ac86.75dbe8","name":"","rules":[{"t":"set","p":"sensor","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":800,"wires":[["a27d6cc2.56475"]]},{"id":"c96767cc.ba568","type":"change","z":"9422ac86.75dbe8","name":"","rules":[{"t":"set","p":"sensor","pt":"msg","to":"2","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":400,"y":900,"wires":[["a27d6cc2.56475"]]},{"id":"345b8b14.a1e9a4","type":"ui_audio","z":"9422ac86.75dbe8","name":"","group":"96040400.0f7ed","voice":"nl-NL","always":"","x":1320,"y":680,"wires":[]},{"id":"12f6f0d0.081807","type":"delay","z":"9422ac86.75dbe8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":540,"y":1120,"wires":[["2a937430.488b0c","aff64488.39d99"]]},{"id":"529ded37.5542c4","type":"switch","z":"9422ac86.75dbe8","name":"","property":"payload[0][2]","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":1120,"wires":[["12f6f0d0.081807"]]},{"id":"d8d6ec35.6f969","type":"ui_toast","z":"9422ac86.75dbe8","position":"top right","displayTime":"5","highlight":"red","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":950,"y":1120,"wires":[]},{"id":"2a937430.488b0c","type":"debug","z":"9422ac86.75dbe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":1160,"wires":[]},{"id":"aff64488.39d99","type":"change","z":"9422ac86.75dbe8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sawyer not running","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"Sawyer","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":1120,"wires":[["d8d6ec35.6f969"]]},{"id":"ccc0dada.1188a8","type":"inject","z":"9422ac86.75dbe8","name":"","topic":"","payload":"[0,0,0]","payloadType":"json","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":1120,"wires":[["529ded37.5542c4"]]},{"id":"6071e71c.5a03c","type":"debug","z":"9422ac86.75dbe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1580,"y":600,"wires":[]},{"id":"eab033e2.d9023","type":"debug","z":"9422ac86.75dbe8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":480,"y":340,"wires":[]},{"id":"6864f420.e3bf64","type":"mui_button","z":"9422ac86.75dbe8","name":"","order":0,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":130,"y":880,"wires":[["c96767cc.ba568"]]},{"id":"c940423c.fab86","type":"mui_button","z":"9422ac86.75dbe8","name":"","order":0,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":780,"wires":[["3b84a364.800ea4"]]}]